{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Ресторан</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td><strong>{{ item.order_status }}</strong></td>
        <td>{{ item.payment_method_name }}</td>
        <td>{{ item.cost }} руб.</td>
        <td>{{ item.firstname }} {{ item.lastname }}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.comment }}</td>
        {% if item.linked_restaurant and item.order_status == 'готовится' %}
          <td>
            <details>
              <summary>
                <strong>Готовит:</strong>
              </summary>
              <p>{{ item.linked_restaurant.name }}</p>
            </details>
          </td>
        {% else %}
          <td>
            <details>
              <summary>
                <strong>Доступно:</strong>
              </summary>
              <ol>
                {% for restaurant in item.available_restaurants %}
                  {% if restaurant.distance %}
                    <li>{{ restaurant.name }} - {{ restaurant.distance|floatformat:1 }} км.</li>
                  {% else %}
                    <li>{{ restaurant.name }} - <span style="color: red">ошибка определения координат</span></li>
                  {% endif %}
                {% endfor %}
              </ol>
            </details>
          </td>
        {% endif %}
        <td><a href="{% url 'admin:foodcartapp_order_change' item.id %}?next={{ current_url|urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
